<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#customer" aria-expanded="false" aria-controls="auth">
        <i class="mdi mdi mdi-nature-people menu-icon"></i>
        <span class="menu-title">Customer</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="customer">
        <ul class="nav flex-column sub-menu" style="list-style-type: none;">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/new_customer.html">  New Customer </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> Edit Customer </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> View all Customer </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> View Customer</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#supplier" aria-expanded="false" aria-controls="auth">
        <i class="mdi mdi mdi-nature-people menu-icon"></i>
        <span class="menu-title">Supplier</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="supplier">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> New Supplier </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> Edit Supplier </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> View all Supplier </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> View Supplier</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="auth">
        <i class="mdi mdi mdi-nature-people menu-icon"></i>
        <span class="menu-title">Sales</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="sales">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> New Sales </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> Edit Sales </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> View all Sales </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> View Sales</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#purchase" aria-expanded="false" aria-controls="auth">
        <i class="mdi mdi mdi-nature-people menu-icon"></i>
        <span class="menu-title">Purchases</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="purchase">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> New Purchase</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> Edit Purchase </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> View all Purchase </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> View Purchase</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#product" aria-expanded="false" aria-controls="auth">
        <i class="mdi mdi mdi-nature-people menu-icon"></i>
        <span class="menu-title">Product</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="product">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item "> <a class="nav-link" href="pages/samples/login.html"><i class="mdi mdi-account-multiple-plus"></i> New Product </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> Edit Product</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> View all Product</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> View Product</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/forms/basic_elements.html">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title">New Registration</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="mdi mdi-circle-outline menu-icon"></i>
        <span class="menu-title">UI Elements</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/forms/basic_elements.html">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title">Form elements</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/charts/chartjs.html">
        <i class="mdi mdi-chart-pie menu-icon"></i>
        <span class="menu-title">Charts</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/tables/basic-table.html">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Tables</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/icons/mdi.html">
        <i class="mdi mdi-emoticon menu-icon"></i>
        <span class="menu-title">Icons</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> Login 2 </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> Register 2 </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> Lockscreen </a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
